body {
  background-image: url('path/to/image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #035efc;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 35px 45px;
  text-decoration: none;
}

li a:hover {
  background-color: darkblue;
}

body {
    color: #ffffff;
}

body {
  background-image: url('fond_simple.jpg');
}
